<div class="main-container">
    <div class="main-content">
        <!--========== Contact Section start ==========-->
        <section class="contact section" id="contact">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15">
                        <h2>Contact Me</h2>
                    </div>
                </div>
                <h3 class="contact-title padd-15">Have You any Questions?</h3>
                <h4 class="contact-sub-title padd-15">I'M AT YOUR SERVICES</h4>
                <div class="row">
                    <!--========== Contact info item start ==========-->
                    <div class="contact-info-item padd-15">
                        <div class="item"><i class="fa fa-phone"></i></div>
                        <h4>Call me on</h4>
                        <p>+1 249-989-3692</p>
                    </div>
                    <!--========== Contact info item end ==========-->
                    <!--========== Contact info item start ==========-->
                    <div class="contact-info-item padd-15">
                        <div class="item"><i class="fa fa-home"></i></div>
                        <h4>Office</h4>
                        <p>100,Stanely st, Barrie</p>
                    </div>
                    <!--========== Contact info item end ==========-->
                    <!--========== Contact info item start ==========-->
                    <div class="contact-info-item padd-15">
                        <div class="item"><i class="fa fa-envelope"></i></div>
                        <h4>Email</h4>
                        <p>helenad2583@gmail.com</p>
                    </div>
                    <!--========== Contact info item end ==========-->
                    <!--========== Contact info item start ==========-->
                    <div class="contact-info-item padd-15">
                        <div class="item"><i class="fa fa-globe-europe"></i></div>
                        <h4>Website</h4>
                        <p>https://my-portfolio-8ruu.onrender.com/#home</p>
                    </div>
                    <!--========== Contact info item end ==========-->
                </div>
                <h3 class="contact-title padd-15">SEND ME AN EMAIL</h3>
                <h4 class="contact-sub-title padd-15">I'M VERY RESPONSIVE TO MESSAGES</h4>
                <!--========== Contact Form ==========-->
                <div class="row">
                    <div class="contact-form padd-15">
                        <div class="row">
                            <div class="form-item col-6 padd-15">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-item col-6 padd-15">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-item col-12 padd-15">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Subject">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-item col-12 padd-15">
                                <div class="form-group">
                                    <textarea name="" class="form-control" id="" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-item col-12 padd-15">
                                <button type="Submit" class="btn">Send Message</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--========== Contact Section end ==========-->
    </div>
</div>
