<div class="main-container">
    <div class="main-content">
        <!--========== Portfolio Section start ==========-->
        <section class="portfolio section" id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="section-title padd-15">
                        <h2>Portfolio</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="portfolio-heading padd-15">
                        <h2>My Last Project:</h2>
                    </div>
                </div>
                <div class="row">
                    <!--========== Portfolio item start ==========-->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <img src="/images/portfolio-1.png" alt="">
                                <div class="overlay">
                                    <div class="description">Using HTML, CSS, Node.js, and MongoDB, I built a
                                        user-friendly platform that offers comprehensive courses in web development.
                                    </div>
                                    <a href="https://github.com/HastiDonga25/Final-Project"><i
                                            class="fa-solid fa-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--========== Portfolio item start ==========-->
                    <!--========== Portfolio item start ==========-->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <img src="/images/portfolio-2.jpg" alt="">
                                <div class="overlay">
                                    <div class="description">
                                        Developed a custom Student Records System in Python, utilizing programming
                                        techniques, error-handling mechanisms, and concepts to ensure efficient data
                                        management, and robust functionality.</div>
                                    <a href="https://github.com/HastiDonga25/Final-Project-of-Python"><i
                                            class="fa-solid fa-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--========== Portfolio item start ==========-->
                    <!--========== Portfolio item start ==========-->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <img src="/images/portfolio-3.png" alt="">
                                <div class="overlay">
                                    <div class="description">Specializing in time series analysis, I incorporate data
                                        analysis techniques to deliver valuable insights using PowerBI.I create
                                        interactive dashboards that drive business success with scalable systems</div>
                                    <a href="https://github.com/HastiDonga25/Power-BI-Dashboard"><i
                                            class="fa-solid fa-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--========== Portfolio item start ==========-->
                    <!--========== Portfolio item start ==========-->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <img src="/images/portfolio-4.png" alt="">
                                <div class="overlay">
                                    <div class="description">By implementing best practices in HTML and CSS, I optimized
                                        accessibility, SEO, and performance while providing engaging content.</div>
                                    <a href="https://github.com/HastiDonga25/CSS--Project"><i
                                            class="fa-solid fa-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--========== Portfolio item start ==========-->
                    <!--========== Portfolio item start ==========-->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <img src="/images/portfolio-5.png" alt="">
                                <div class="overlay">
                                    <div class="description">Developed a Spin to Play game using C#, incorporating
                                        engaging mechanics that enhance user experience and encourage replayability
                                        through exciting gameplay features.</div>
                                    <a href="https://github.com/HastiDonga25/C--Project"><i
                                            class="fa-solid fa-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--========== Portfolio item end ==========-->
                    <!--========== Portfolio item start ==========-->
                    <div class="portfolio-item padd-15">
                        <div class="portfolio-item-inner shadow-dark">
                            <div class="portfolio-img">
                                <img src="/images/portfolio-6.png" alt="">
                                <div class="overlay">
                                    <div class="description">Designed a visually appealing, user-friendly website with
                                        seamless responsiveness across devices. Implemented best practices in HTML and
                                        CSS for accessibility.</div>
                                    <a href="https://github.com/Learn-Craft/OnlineLearningPlatform"><i
                                            class="fa-solid fa-up-right-from-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--========== Portfolio item end ==========-->
                </div>
            </div>
        </section>
        <!--========== Portfolio Section end ==========-->
    </div>
</div>
