<!-- about section design -->
     <section class="about" id="about">
        <div class="about-img">
            <img src="/images/books-icon-512.png" alt="image not loaded">
        </div>
        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Book Record Management</h3>
            <p>The Book Record Management System is a web application for managing book records with features like adding, updating, and deleting records. It incorporates secure authentication using Google and GitHub OAuth, enhancing accessibility and security. Built with Node.js, Express.js, and MongoDB, it showcases efficient CRUD operations and dynamic rendering.</p>
            <a href="/book_records/index" class="btn">Read More</a>
        </div>
     </section>
     <footer>
    <p>Copyright | All Rights Reserved</p>
  </footer>