<!-- about section design -->
     <section class="about" id="about">
        <div class="about-img">
            <img src="/images/books-icon-512.png" alt="image not loaded">
        </div>
        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Book Record Management</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore vel asperiores tenetur esse quae, quidem libero iusto quis. Fugiat voluptas assumenda laborum ea officia a expedita, reiciendis corporis asperiores nobis.</p>
            <a href="/book_records/index" class="btn">Read More</a>
        </div>
     </section>
     <footer>
    <p>Copyright | All Rights Reserved</p>
  </footer>