<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!--========== BOXICONS ==========-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel='stylesheet'>

</head>

<body>
  <!-- header design -->
  <header class="header">
    <a href="" class="logo">BRMS</a>

    <nav class="navbar">
      <a href="/" class="active">Home</a>
      <a href="/book_records">Service</a>
      {{#if user}}
      <a href="#">{{user.username}}</a>
      <a href="/logout">Logout</a>
      {{else}}
      <a href="/register">Register</a>
      <a href="/login">Login</a>
      {{/if}}
    </nav>
  </header>
  
  {{{body}}}
  <script src="/javascripts/script.js"></script>
</body>

</html>